# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Environment variables
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
.history/

# Testing
coverage/
.nyc_output/

# Misc
.cache/
temp/
tmp/
.serverless/

# Backups
backups/
backup/
*.dump

# Docs
docs/

# SSL certificates (for development)
ssl/
*.key
*.cert
*.pem

# GCP Service Account Keys
service-account-key.json

# yarn
yarn.lock

# Claude
claude.md
.claude

# scripts
scripts/

# postman
postman/

# documentation
documentation/